div {
    background-color: rgba(250, 248, 248, 0.938);
    width: 420px;
    height: 550px;
    margin: auto;
    padding: 20px;
    box-shadow: 10px 10px 5px #888888;
    
}

h1 {
    font-size: 30px;
    color: purple;
}
h2 {
    font-size: 20px;
}

#opslaan-button, #reset-button {
    width: 160px;
    height: 35px;
    background-color: rgb(55, 0, 255);
    color: white;
    border-radius: 7px;
}

#datum-tijd {
    width: 403px;
}
#e-mail {
    width: 400px;
}

#telefoonnummer {
    width: 400px;
}