div {
    background-color: rgb(217, 237, 243);
    width: 420px;
    height: 550px;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 30px;
    color: purple;
}
h2 {
    font-size: 20px;
}

#opslaan-button, #reset-button {
    width: 160px;
    height: 30px;
    background-color: rgb(55, 0, 255);
    color: white;
}

#datum-tijd {
    width: 403px;
}
#e-mail {
    width: 400px;
}

#telefoonnummer {
    width: 400px;
}